include *.rst
include LICENSE
include drf_spectacular_extended/py.typed
include drf_spectacular_extended/validation/*.json
include drf_spectacular_extended/templates/drf_spectacular_extended/*.html
include drf_spectacular_extended/templates/drf_spectacular_extended/*.js
include runtests.py
graft tests
recursive-exclude tests *_out.yml
graft requirements
graft docs
prune docs/_build
prune docs/_static
global-exclude __pycache__
global-exclude *.py[co]
